<!DOCTYPE html>
{% extends "map_app/base.html"%}
  {% block body_block %}
      <div class="table-responsive">
        <h1>This is contact table</h1>
        <div class="">
          <a class="btn btn-primary" href="{% url 'web_form:add_contact' %}">Add contact</a>
        </div>
          {% if contacts %}
            <table class="table">
              <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Text</th>
              </thead>
            {% for item in contacts %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.email}}</td>
              <td>{{ item.text}}</td>
            </tr>
            {% endfor%}
            </table>
          {% else %}
            <p>Problem while showing the table</p>
          {% endif%}
      </div>
    {% endblock %}
