<!DOCTYPE html>
{% extends 'org_app/org_app_base.html' %}
{% block body_block %}
<div class="jumbotron">
  <h1>Welcom to Department Detail Page! </h1>
  <h2>Department details:</h2>
  <p>Name: {{department_detail.name}}</p>
  <p>Director: {{department_detail.director}}</p>
  <h3>Divisions:</h3>

  {% for division in department_detail.divisions.all %}
  <p>{{division.name}}, chief division is {{division.chief_division}}</p>
  {% endfor %}
</div>

<div class="container">
  <a class="btn btn-warning" href="{% url 'org_app:update' pk=department_detail.pk %}">Update</a>
</div>
{% endblock %}
