<!DOCTYPE html>
{% load staticfiles %}
{% load leaflet_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/my_style/map.css">
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
  </head>
  <body>
    <h1>Enjoy my city</h1>
      <script type="text/javascript">
        function point_layer(map,options){
          var datasets = new L.GeoJSON.AJAX("{% url 'map:pointer' %}",{

          });
          datasets.addTo(map);
        }
      </script>
      {% leaflet_map "rksmap" callback="window.point_layer" %}
  </body>
</html>
