<!DOCTYPE html>
{% extends "map_app/base.html" %}
  {% block body_block %}
      <h1>Me poshte po paraqesim komunat</h1>
      <div class="table">
        {% if komuna_records %}
          <table class="table">
            <thead>
              <th>Id</th>
              <th>Komuna</th>
            </thead>
          {% for item in komuna_records %}
              <tr>
                <td>{{ item.id_komuna }}</td>
                <td><a href="{{ item.id_komuna }}">{{ item.emri_komuna }}</a></td>
              </tr>
           {% endfor %}
          </table>
        {% else %}
          <p>Nuk u gjeten shenime te komunes</p>
        {% endif %}
      </div>
      {% endblock %}
